body {
    width: 100%;
    height: 100%;
}
.bg{
    width: 100%;
    height: 100vh;
    background: linear-gradient(125deg, #2c3e50, #000000, #2980b9, #150050);
    background-size: 400% 400%;
    animation: bg-animation 15s ease infinite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
@keyframes bg-animation {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}
.btn{
    position: relative;
    z-index: 1;
    margin: 25vh;
    margin-left: 25vw;
    width: 45vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0.6vh solid rgb(180, 180, 180);
    border-radius: 10vh;
    font-family: 'Fjalla One', sans-serif;
    font-size: 13vh;
    color: rgba(180, 180, 180, 0.8);
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.2);
    box-shadow: 0 0 5vh 2vh rgb(0, 0, 130); 
    cursor: pointer;
}

.btn:active{
    transform: scale(0.8);
    transition: all 0.15s ease;
}
